---
import Layout from '../layouts/Layout.astro';
import TabsComponent from '../components/TabsComponent'
---

<Layout title="Twitch calculator">
	<main class="flex bg-white h-screen flex-col text-center items-center justify-center">
		<h1 class="  text-6xl font-semibold mb-16">Twitch calculator</h1>
		<TabsComponent client:load />
	</main>
</Layout>